---
import { type BlogSchema } from "../content/config";
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

export interface Props extends BlogSchema {}

const {
  title,
  description,
  pubDate,
  updatedDate,
  heroImage,
  badge,
  tags = [],
} = Astro.props;
dayjs.extend(localizedFormat);
const displayDate = dayjs(pubDate).format("ll");
import { Image } from "astro:assets";
---

<BaseLayout
  title={title}
  description={description}
  image={heroImage}
  ,
  ogType="article"
><progress id="content_progress" value="0"></progress>
<script src="../scripts/backtop.js"></script>
<script src="../scripts/progress.js"></script>
<script src="../scripts/copybutton.js"></script>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto" transition:animate="slide">
      {
        heroImage && (
          <Image
            width={750}
            height={422}
            format="webp"
            src={heroImage}
            alt={title}
            class="w-full mb-6 rounded-lg"
          />
        )
      }
      <h1 class="title my-2 text-4xl font-bold">{title}</h1>
      </div>
      <div class="flex flex-wrap">
        <div class="w-1/2">
          <a class="btn btn-outline ml-2 no-underline" target="_blank"
            ><svg
              data-icon="material-symbols:calendar-today-outline-rounded"
              height="1em"
              viewBox="0 0 24 24"
              width="1em"
              class="text-xl"
              data-astro-cid-qtyrxm4s=""
              ><symbol id="ai:material-symbols:calendar-today-outline-rounded"
                ><path
                  d="M5 22q-.825 0-1.412-.587T3 20V6q0-.825.588-1.412T5 4h1V3q0-.425.288-.712T7 2q.425 0 .713.288T8 3v1h8V3q0-.425.288-.712T17 2q.425 0 .713.288T18 3v1h1q.825 0 1.413.588T21 6v14q0 .825-.587 1.413T19 22zm0-2h14V10H5zM5 8h14V6H5zm0 0V6z"
                  fill="currentColor"></path></symbol
              ><use
                xlink:href="#ai:material-symbols:calendar-today-outline-rounded"
              ></use></svg
            ><code>{pubDate && <time>{displayDate}</time>}</code></a
          ><a class="btn btn-outline ml-2 no-underline" target="_blank"
            ><svg
              data-icon="material-symbols:calendar-today-outline-rounded"
              height="1em"
              viewBox="0 0 24 24"
              width="1em"
              class="text-xl"
              data-astro-cid-qtyrxm4s=""
              ><path
                d="M3 14C3 9.02944 7.02944 5 12 5C16.9706 5 21 9.02944 21 14M17 14C17 16.7614 14.7614 19 12 19C9.23858 19 7 16.7614 7 14C7 11.2386 9.23858 9 12 9C14.7614 9 17 11.2386 17 14Z"
                stroke="#ffffff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <code>
              <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script><div
                id="busuanzi_value_page_pv"
              >
              <svg width="20" height="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(1 1)" stroke-width="2">
                        <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                        <path d="M36 18c0-9.94-8.06-18-18-18">
                            <animateTransform
                                attributeName="transform"
                                type="rotate"
                                from="0 18 18"
                                to="360 18 18"
                                dur="1s"
                                repeatCount="indefinite"/>
                        </path>
                    </g>
                </g>
            </svg>
              </div></code
            ></a
          >
        </div>
        <div class="w-1/2">
          <code>Tags:</code>
          {badge && <div class="badge badge-secondary my-1">{badge}</div>}
          {
            tags &&
              tags.map((tag) => (
                <a
                  href={`/blog/tag/${tag}`}
                  class="badge badge-outline ml-2 no-underline"
                >
                  {tag}
                </a>
              ))
          }
          {
            updatedDate && (
              <div>
                {" "}
                Last updated on <time>{updatedDate}</time>{" "}
              </div>
            )
          }
        </div>
      </div>
      <div class="divider my-2"></div>
      <slot />
    </article>
    <button id="back-to-top" aria-label="Back to top">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 10l7-7m0 0l7 7m-7-7v18"
        ></path>
      </svg>
    </button>
  </main>
  <div class="divider my-2"></div>
  <div id="waline"></div>
  <script type="module">
    import { init } from "https://unpkg.com/@waline/client@v3/dist/waline.js";

    init({
      el: "#waline",
      serverURL: "https://waline.saroprock.com",
      // dark: true,
      pageview: true, // 浏览量统计
      reaction: [
        "https://saroprock.s3.bitiful.net/good.png",
        "https://saroprock.s3.bitiful.net/bad.png",
        "https://saroprock.s3.bitiful.net/happy.png",
        "https://saroprock.s3.bitiful.net/color.png",
        "https://saroprock.s3.bitiful.net/confuse.png",
        "https://saroprock.s3.bitiful.net/heart.png",
        "https://saroprock.s3.bitiful.net/rocket.png",
        "https://saroprock.s3.bitiful.net/eyes.png",],
    });
  </script>
</BaseLayout>
